@using System.Text
@using DiamondShop.Application.Services.Interfaces
@using DiamondShop.Domain.Models.Transactions.Enum
@model EmailOrderPreparedModel
@{
    StringBuilder completeCallback = new StringBuilder("");
    completeCallback.Append("teeset");
    completeCallback.Append("?userId=");
    completeCallback.Append("any");
    completeCallback.Append("&");
    completeCallback.Append("token=");
    completeCallback.Append("any");
    var absoluteCallback = completeCallback.ToString();
    var totalTransAmount = Model.amountToPay;
    var moneyToPay = Model.orderDetailed.TotalPrice - totalTransAmount;
    var orderCode = Model.orderDetailed.OrderCode;
    var callbackUrl = Model.toOrdeDetailUrl;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Email Template</title>
    <style>
        body {
            font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
            box-sizing: border-box;
            font-size: 14px;
            width: 100%;
            background-color: transparent;
            margin: 0;
        }

        .body-wrap {
            width: 100%;
            background-color: transparent;
            margin: 0;
        }

        .container {
            display: block !important;
            max-width: 600px !important;
            clear: both;
            margin: 0 auto;
        }

        .content {
            max-width: 600px;
            display: block;
            margin: 0 auto;
            padding: 20px;
        }

        .main {
            border-radius: 3px;
            background-color: transparent;
            margin: 0;
            border: 2px dashed #e5c738;
            width: 100%;
        }

        .content-wrap {
            padding: 20px;
        }

        .content-block {
            padding: 10px 10px;
        }

        .btn-primary {
            font-size: 14px;
            text-decoration: none;
            line-height: 2em;
            font-weight: bold;
            text-align: center;
            cursor: pointer;
            display: block;
            border-radius: 5px;
            text-transform: capitalize;
            border: none;
            padding: 10px 20px;
            background-color: #e5c738;
            color: white;
        }

        .logo {
            margin-left: auto;
            margin-right: auto;
            display: block;
            margin-bottom: 10px;
            height: 80px;
        }
    </style>
</head>
<body>
    <table class="body-wrap" bgcolor="transparent">
        <tbody>
            <tr>
                <td></td>
                <td class="container" width="600">
                    <div class="content">
                        <table class="main" width="100%" cellpadding="0" cellspacing="0" bgcolor="#fff">
                            <tbody>
                                <tr>
                                    <td class="content-wrap" valign="top">
                                        <meta itemprop="name" content="Confirm Email" />
                                        <table width="100%" cellpadding="0" cellspacing="0">
                                            <tbody>
                                                <tr>
                                                    <td style="display:flex; justify-content:center; align-items: center;">
                                                        <a href="#" class="" style="display:flex; justify-content:center; align-items: center;">
                                                            <img src="cid:logo" class="logo" style="" />
                                                        </a>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="content-block" valign="top" style="color: #e5c738; font-size: 24px; font-weight: 700; text-align: center; padding: 0 0 10px;">
                                                        Đơn hàng đã hoàn tất
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="content-block" valign="top" style="color: #000000; font-size: 14px; padding: 10px 10px;">
                                                        chúng tôi đã hoàn thành chuẩn bị sản phẩm của bạn
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="content-block" valign="top" style="font-size: 14px; padding: 10px 10px;">
                                                        hãy đến nhạn nếu là đơn nhận tại quầy, hoặc chuẩn bị tiền chuyển khoản nếu là đơn hàng giao hàng
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="content-block" valign="top" style="font-size: 14px; padding: 10px 10px;">
                                                        Mã đơn hàng:<span style="font-size: 14px; padding: 10px 10px; font-weight: bold">@orderCode</span>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="content-block" valign="top" style="font-size: 14px; padding: 10px 10px;">
                                                        Tổng tiền cần thanh toán: <span style="font-size: 14px; padding: 10px 10px; font-weight: bold">@totalTransAmount</span>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="content-block" valign="top" style="font-size: 14px; padding: 10px 10px; background-color:#e5c738; text-align:center;">
                                                        <a href="@callbackUrl" class="btn-primary" style="color:black;text-decoration:none;">bấm vào đây để đến chi tiết đơn hàng</a>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="content-block" valign="top" style="font-size: 14px; padding-top: 5px; text-align: right;">
                                                        — <b>Diamondshop</b> —
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </td>
                <td></td>
            </tr>
        </tbody>
    </table>
</body>
</html>